body {
    background-color: rgb(57, 169, 219);
    font-family: Rubik, Arial;
}

form {
    text-align: center;
    line-height: 30px;
    height: 80%;
    overflow: auto;
    margin: auto;
}

input {
    text-align: center;
    display: inline-block;
    width: 80%;
    line-height: 30px;
    margin: auto;
}

#nascimento {
    line-height: 30px;
    height: 80%;
    overflow: auto;
    width: 80%;
    text-align: center;
}


#formulario {
    width: 80%;
    margin: 3% auto;
    height: 95vh;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
}

#logo {
    height: 100px;
    display: block;
    margin: auto;
}

.container {
    display: flex;
    gap: 0.625%;
    width: 80%;
    margin: auto;
}

a {
    flex: 1;
    text-decoration: none;
    outline: none;
    text-align: center;
    line-height: 3;
    color: black;
}

a:link,
a:visited,
a:focus {
    background: yellow;
}

a:hover {
    background: orange;
}

a:active {
    background: red;
    color: white;
}

.button {
    transition-duration: 0.4s;
    border: 2px solid #4CAF50;
    background-color: red;
    padding: 14px 40px;
}

.button:hover {
    background-color: green;
    color: black;
    border: 2px solid #4CAF50;
    padding: 14px 40px;
}